* {
  box-sizing: border-box;
}
body {
  background-color: hsl(var(--theme-color), 38%, 18%);
  margin: 0px;
  height: 100vh;
  --side-width: 225px;
  --right-width: 48px;
  --area-width: 100%;
  --theme-color: 210;
}
body {
  --right-width: 0px;
}
#sideNav {
  width: var(--side-width);
  height: 100%;
  background-color: hsl(var(--theme-color), 38%, 18%);
  box-shadow: 1px 0px 2px rgb(0 0 0 / 40%);
  color: hsl(var(--theme-color), 20%, 80%);
  user-select: none;
  font-family: sans-serif;
  font-size: 14px;
  padding-top: 36px;
  position: fixed;
  font-size: 0.85rem;
  z-index: 4;
}
#sideNav > qr-folder {
  height: calc(100% - 24px);
  overflow: hidden;
}
#sideNav > qr-folder ::-webkit-scrollbar {
  display: none;
}
#sideNav > qr-folder a {
  margin-left: 1px;
}
#sideNav > qr-folder a:focus {
  outline: hsl(var(--theme-color), 88%, 62%) solid 1px;
  outline-offset: -1px;
}
#sideNav > qr-folder a:hover {
  background: hsl(var(--theme-color), 62%, 24%);
}
#sideNav > qr-folder a.selected {
  background-color: hsl(var(--theme-color), 38%, 28%);
  color: white;
}
#sideNav > qr-folder.focused a.selected {
  background-color: hsla(var(--theme-color), 62%, 38%, 0.5);
}
#sideNav > qr-folder > .dir-title {
  box-shadow: 0px 1px 2px rgb(0 0 0 / 60%);
  position: relative;
  font-weight: 600;
  z-index: 1;
}
#sideNav > qr-folder > .dir-title:before {
  font-weight: normal;
}
#sideNav > qr-folder > .dir-body {
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
#sideNav > qr-folder.opened > .dir-body {
  height: inherit;
  padding-bottom: 24px;
}
#sideNav > qr-folder > .dir-body:focus {
  outline: hsl(var(--theme-color), 88%, 62%) solid 1px;
  outline-offset: -1px;
}
#sideNav > qr-folder > .dir-body:focus a.selected,
#sideNav > qr-folder > .dir-body:focus a:hover {
  width: calc(100% - 2px);
}
#sideNav a {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}
#sideNav a::selection {
  background-color: hsl(195, 62%, 33.3%);
}
.day #sideNav a::selection {
  background-color: hsl(210, 38%, 50%);
  color: white;
}
qr-folder > qr-slidery {
  position: absolute;
  right: 0px;
  top: 60px;
  height: calc(100% - 60px - 24px);
  width: 8px;
}
qr-folder > qr-slidery:hover {
  cursor: default;
}
.slider-trackY {
  height: 100%;
}
.slider-thumbY {
  width: 100%;
  position: absolute;
  transition: background-color .3s;
}
#sideNav:hover .slider-thumbY {
  background-color: rgba(79, 128, 176, 0.5);
}
#sideNav > qr-resizerx {
  position: absolute;
  height: 100%;
  right: -3px;
  top: 0px;
  width: 3px;
  transition: background-color 0.2s;
  cursor: e-resize;
}
#sideNav > qr-resizerx:hover {
  background-color: hsl(var(--theme-color), 88%, 62%);
}
qr-folder {
  display: block;
  --nest-level: calc(var(--depth, 0) + 1);
}
qr-folder.opened > .dir-title:before {
  transform: rotate(90deg) translate(1px, 1px);
}
qr-folder.opened > .dir-body {
  height: auto;
}
.dir-title {
  height: 24px;
  display: block;
  line-height: 24px;
  position: relative;
  padding-left: calc(var(--nest-level) * 12px);
  text-decoration: none;
  color: inherit;
}
.dir-title:before {
  font-family: dashicons;
  content: "\f345" !important;
  display: inline-block;
  line-height: 24px;
  position: absolute;
  width: 12px;
  height: 24px;
  left: calc(var(--nest-level) * 12px - 12px);
  text-indent: -2px;
  transition: transform 0.1s;
}
.dir-body {
  height: 0px;
  overflow: hidden;
  transition: height .2s;
  --depth: var(--nest-level);
  position: relative;
}
.dir-body::before {
  content: "";
  background-color: hsl(var(--theme-color), 38%, 50%);
  display: block;
  position: absolute;
  top: 0px;
  left: calc(var(--nest-level) * 12px - 6px);
  width: 1px;
  height: 100%;
  z-index: 1;
}
#sideNav > qr-folder > .dir-body::before {
  height: 0;
}
.dir-body > a {
  display: block;
  padding-left: calc(var(--nest-level) * 12px + 12px);
  height: 24px;
  line-height: 24px;
  position: relative;
  text-decoration: none;
  color: inherit;
}
.dir-body > a:before {
  font-family: dashicons;
  vertical-align: middle;
  position: absolute;
  left: calc(var(--nest-level, 1) * 12px);
  content: "\f491";
  text-indent: -2px;
}
.dragBox {
  position: fixed;
  padding: 12px 0px 0px 10px;
  opacity: 0;
  z-index: 3;
}
.dragItem {
  border: solid 1px hsl(var(--theme-color), 100%, 62%);
  border-radius: 7px;
  height: 17px;
  min-width: 24px;
  font-size: 12px;
  padding: 0px 8px;
  background-color: hsl(var(--theme-color), 62%, 18%);
}
.draggedOn, .draggedOn a {
  background-color: hsl(var(--theme-color), 38%, 38%) !important;
}
.context-menu {
  user-select: none;
  color: hsl(0, 0%, 88%);
  position: fixed;
  width: 120px;
  background-color: hsl(var(--theme-color), 38%, 24%);
  box-shadow: 1px 1px 4px 2px rgb(0 0 0 / 20%);
  border-radius: 2px;
  z-index: 1;
}
.context-menu > a {
  display: block;
  height: 28px;
  line-height: 28px;
  padding-left: 8px;
  margin: 0px !important;
}
.context-menu > a:hover {
  background-color: hsl(var(--theme-color), 38%, 38%) !important;
}
.context-menu > a:not(:last-child) {
  border-bottom: hsl(0, 0%, 62%) solid 1px;
}
.context-menu > .ulFile {
  border-bottom: none !important;
}
.context-menu > .dlFile {
  border-bottom: none !important;
  text-decoration: underline;
}
.context-menu > .dFile {
  border-top: hsl(0, 62%, 62%) solid 2px;
  color: hsl(0, 62%, 62%) !important;
  font-weight: 600;
  height: 30px;
  border-bottom: none;
}
::-webkit-scrollbar {
  display: none;
}
#topNav {
  background-color: hsl(var(--theme-color), 38%, 18%);
  position: fixed;
  height: 36px;
  width: calc(100% - var(--side-width));
  top: 0px;
  right: 0px;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 40%);
  z-index: 3;
  user-select: none;
}
.left-zero #topNav {
  padding-left: 48px;
}
.left-zero #topNav > qr-sliderx {
  width: calc(100% - 48px);
}
.left-zero #logo {
  width: 48px;
  box-shadow: 1px 0px 2px rgb(0 0 0 / 40%);
}
.left-zero #logoIcon:before {
  content: "\f318";
}
.day.left-zero #logo {
  box-shadow: 1px 0px 2px rgb(0 0 0 / 20%);
}
qr-page {
  white-space: nowrap;
  overflow: scroll;
  position: relative;
  display: block;
  z-index: 0;
}
.qr-page {
  position: relative;
  height: 100%;
  display: inline-block;
  line-height: 36px;
  border-right: 1px solid hsl(var(--theme-color), 56%, 14%);
  background-color: hsl(var(--theme-color), 38%, 22%);
  padding: 0px 27px 0px 18px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.8rem;
  color: hsl(var(--theme-color), 25%, 75%);
}
.qr-page:last-child {
  border-right: none !important;
}
.qr-page.unpined {
  font-style: oblique;
}
.qr-page.active {
  background-color: hsl(var(--theme-color), 56%, 14%);
  color: white !important;
}
.qr-page::before {
  font-family: dashicons;
  height: 0px;
  height: 13px;
  width: 13px;
  display: inline-block;
  position: absolute;
  line-height: 13px;
  top: 12px;
  left: 4px;
  font-style: normal;
}
.qr-page.unsaved:before {
  content: "\f464";
}
.qr-page > .dirpath {
  font-size: 10px;
  line-height: 0;
  padding-left: 4px;
  color: hsl(var(--theme-color), 20%, 62%);
}
.qr-page.active > .dirpath {
  color: hsl(var(--theme-color), 20%, 80%);
}
.qr-page.active > .del-icon {
  display: block;
}
.qr-page > .del-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  font-size: 16px;
  top: 10px;
  right: 8px;
  line-height: 16px;
  border-radius: 2px;
  display: none;
  font-style: normal;
}
.qr-page > .del-icon:hover {
  background-color: hsla(var(--theme-color), 62%, 88%, 0.3);
}
.qr-page > .del-icon::before {
  font-family: dashicons;
  content: "\f543";
  display: inline-block;
  transform: rotate(45deg);
}
.qr-page:hover > .del-icon {
  display: block;
}
#topNav > qr-sliderx {
  position: absolute;
  bottom: 0px;
  height: 4px;
  width: 100%;
}
.slider-trackX{
  height: 100%;
}
.slider-thumbX {
  height: 100%;
  position: absolute;
  transition: background-color .3s;
}
#topNav:hover .slider-thumbX {
  background-color: rgba(79, 128, 176, 0.5);
}
#logo {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 36px;
  width: var(--side-width);
  color: hsl(var(--theme-color), 68%, 68%);
  user-select: none;
  z-index: 4;
  overflow: hidden;
}
#logoIcon {
  height: 36px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 48px;
  padding: 6px 0px 0px 12px;
}
#logoIcon:before {
  font-family: dashicons;
  display: inline-block;
  content: "\f322";
  font-size: 22px;
  height: 24px;
  width: 23px;
  filter: brightness(138%);
}
@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
#logoIcon.loading::before {
  content: "\f463";
  font-family: dashicons;
  animation: rotate infinite 1.5s linear;
  right: 24px;
}
#logoIcon:hover {
  filter: brightness(138%);
  background-color: hsl(var(--theme-color), 38%, 18%);
}
#title {
  font-weight: 600;
  font-size: 1.1rem;
  font-family: sans-serif;
  position: absolute;
  left: 48px;
  top: 0px;
  height: 36px;
  text-align: center;
  padding-right: 24px;
  line-height: 36px;
  width: calc(var(--side-width) - 48px);
}
#statusBox {
  height: 23px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 4;
  background-color: hsl(0, 0%, 80%, 0.88);
  border-top-right-radius: 3px;
  font-size: 12px;
  line-height: 24px;
  padding: 0 19px 0 5px;
  font-family: sans-serif;
  display: none;
}
#messageBox {
  position: fixed;
  font-family: sans-serif;
  font-size: 14px;
  z-index: 4;
  right: 0px;
  bottom: 0px;
}
.message-item {
  background-color: hsl(var(--theme-color), 38%, 18%);
  box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 20%);
  border: transparent solid 1px;
  color: hsl(var(--theme-color), 20%, 80%);
  margin-bottom: 8px;
  margin-right: 8px;
  padding: 0px 32px;
  position: relative;
  float: right;
  clear: both;
  border-radius: 4px;
}
.message-item::before {
  content: "\f348";
  font-family: dashicons;
  position: absolute;
  color: red;
  left: 8px;
  top: calc(50% - 8px);
}
.message-item > span {
  font-size: 18px;
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 2px;
  right: 4px;
  top: 4px;
}
.message-item > span:hover {
  filter: brightness(138%);
  background-color: hsla(var(--theme-color), 62%, 88%, 0.3);
}
.message-item > span:before {
  font-family: dashicons;
  content: "\f335";
  display: block;
  line-height: 19px;
  height: 100%;
}
qr-dialog {
  z-index: 4; 
  display: none; 
  position: fixed; 
  width: 400px; 
  font-family: sans-serif;
  font-size: 14px;
  padding: 0 16px 46px;
  background-color: white; 
  border-radius: 8px;
  user-select: none;
  box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 20%);
  left: 50%;
  transform: translate(-50%);
  transition: opacity 0.5s, top 0.5s;
}
qr-dialog.on {
  display: block;
  opacity: 1;
  top: 16px;
}
qr-dialog.off {
  display: block;
  opacity: 0;
  top: -16px;
}
qr-dialog > div {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 160px;
  height: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  align-content: space-between;
}
qr-dialog > p {
  min-height: 18px;
}
qr-dialog > p:first-child {
  font-weight: 600;
}
qr-dialog > input {
  width: 100%;
  margin-bottom: 1em;
  height: 24px;
  outline: none;
  border: hsl(var(--theme-color), 0%, 88%) solid 2px;
}
qr-dialog > input:focus {
  border: hsl(var(--theme-color), 0%, 74%) solid 2px;
}
qr-dialog > div > button {
  border: none;
  width: 75px;
  height: 100%;
  border-radius: 5px;
}
qr-dialog .ok {
  color: white;
  background-color: hsl(var(--theme-color), 88%, 50%);
}
qr-dialog .ok:hover {
  background-color: hsl(var(--theme-color), 88%, 38%);
}
qr-dialog .cancel {
  background-color: hsl(var(--theme-color), 0%, 88%);
}
qr-dialog .cancel:hover {
  background-color: hsl(var(--theme-color), 0%, 74%);
}
#content {
  position: fixed;
  top: 36px;
  height: calc(100% - 36px);
  width: calc(100% - var(--side-width) - var(--right-width));
  left: var(--side-width);
  background: hsl(var(--theme-color), 24%, 12%);
  user-select: none;
}
#codeContainer {
  position: absolute;
  height: 100%;
  width: var(--area-width);
  padding-right: 8px;
  z-index: 1;
  padding-top: 24px;
}
#panel {
  position: absolute;
  top: 0px;
  height: 24px;
  width: 100%;
  background-color: hsl(var(--theme-color), 38%, 18%);
  box-shadow: -1px 1px 2px rgb(0 0 0 / 40%);
  padding-right: 8px;
  z-index: 1;
  overflow: hidden;
  font-family: dashicons;
  line-height: 24px;
  font-size: 0px;
  text-indent: 8px;
}
#panel > * {
  font-size: initial;
}
#panel > div {
  color: hsl(var(--theme-color), 88%, 80%);
  background-color: inherit;
  text-align: center;
  text-indent: 0;
  width: 24px;
  height: 24px;
  display: inline-block;
}
#panel > div:hover {
  filter: brightness(138%);
}
.day #panel > div:hover {
  filter: brightness(88%);
}
#panel > div::before {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
#themeIcon, #preview, #save {
  float: right;
}
#themeIcon:before {
  content: "\f469";
  transform: rotateX(180deg);
}
#save::before {
  content: "\f327";
  font-size: 13px;
}
#backward::before {
  content: "\f340";
}
#forward::before {
  content: "\f344";
}
#refresh {
  vertical-align: top;
  transform: rotateY(180deg);
}
#refresh::before {
  font-size: 13px;
  display: block;
  transform: rotateZ(25deg);
  content: "\f531";
}
#codeWrapper {
  width: 100%;
  height: 100%;
}
#codeContainer > qr-resizerx {
  position: absolute;
  width: 8px;
  height: 100%;
  right: 0px;
  top: 0px;
  background-color: hsl(var(--theme-color), 38%, 18%);
  box-shadow: 1px 0px 2px rgb(0 0 0 / 40%);
  z-index: 1;
}
#codeContainer > qr-resizerx > div {
  height: calc(100% - 24px);
  box-shadow: -1px 2px 2px rgb(0 0 0 / 40%);
  margin-top: 24px;
}
#codeContainer > qr-resizerx:hover {
  cursor: e-resize;
}
#closePageIcon {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 4px;
  font-family: dashicons;
  width: 28px;
  text-align: center;
}
#closePageIcon:hover {
  color: red;
}
#closePageIcon::before {
  content: "\f543";
  font-size: 18px;
  display: inline-block;
  transform: rotate(45deg);
}
.day {
  background-color: hsl(var(--theme-color), 24%, 94%);
}
.day #topNav {
  background-color: hsl(var(--theme-color), 24%, 94%);
  box-shadow: 0px 1px 2px rgb(0 0 0 / 20%);
}
.day .qr-page {
  color: hsl(var(--theme-color), 38%, 38%);
  background-color: hsl(var(--theme-color), 24%, 88%);
  border-right: 1px solid hsl(0, 0%, 97%);
}
.day .qr-page > .dirpath {
  color: hsl(var(--theme-color), 16%, 50%);
}
.day .qr-page > .del-icon:hover {
  filter: brightness(50%);
}
.day .qr-page.active {
  color: black !important;
  background-color: hsl(0, 0%, 97%) !important;
}
.day .qr-page.active > .dirpath {
  color: hsl(var(--theme-color), 16%, 38%);
}
.day #sideNav {
  background-color: hsl(var(--theme-color), 24%, 94%);
  box-shadow: 1px 0px 2px rgb(0 0 0 / 20%);
}
.day #sideNav a {
  color: hsl(var(--theme-color), 75%, 25%);
}
.day #sideNav > qr-folder > .dir-title {
  box-shadow: 0px 1px 2px rgb(0 0 0 / 30%);
}
.day #sideNav > qr-folder a:focus,
.day #sideNav > qr-folder > .dir-body:focus {
  outline: hsl(var(--theme-color), 62%, 38%) solid 1px;
}
.day #sideNav > qr-folder a:hover {
  background: hsl(var(--theme-color), 25%, 88%);
}
.day #sideNav > qr-folder a.selected {
  background-color: hsl(var(--theme-color), 24%, 84%);
  color: black;
}
.day #sideNav > qr-folder.focused a.selected {
  background-color: hsl(var(--theme-color), 38%, 80%);
}
.day .dragItem {
  background-color: hsl(var(--theme-color), 24%, 94%);
  border: hsl(var(--theme-color), 62%, 38%) solid 1px;
  color: hsl(0, 0%, 12%);
}
.day qr-resizerx:hover {
  background-color: hsl(var(--theme-color), 62%, 62%);
}
.day .message-item {
  background-color: hsl(var(--theme-color), 24%, 94%);
  color: hsl(var(--theme-color), 62%, 24%);
}
.day .message-item > span:hover {
  filter: brightness(88%);
}
.day #content {
  background: white;
}
.day #themeIcon:before {
  content: "\f469";
  transform: rotateX(0deg);
}
.day #panel {
  background-color: hsl(var(--theme-color), 24%, 94%);
  color: hsl(0, 0%, 12%);
  box-shadow: -1px 1px 2px rgb(0 0 0 / 20%);
}
.day #panel > div {
  color: hsl(var(--theme-color), 62%, 24%);
}
.day #codeContainer > qr-resizerx {
  background-color: hsl(var(--theme-color), 24%, 94%);
}
.day .context-menu {
  background-color: hsl(var(--theme-color), 24%, 94%);
}
.day .context-menu > a:hover {
  background-color: hsl(var(--theme-color), 25%, 88%) !important;
}
.day .draggedOn, .day .draggedOn a {
  background-color: hsl(var(--theme-color), 38%, 84%) !important;
}
.day #sideNav:hover .slider-thumbY, 
.day #topNav:hover .slider-thumbX {
  background-color: hsla(var(--theme-color), 24%, 62%, 0.5);
}
.day #codeContainer > qr-resizerx {
  box-shadow: 1px 0px 2px rgb(0 0 0 / 20%);
}
.day #codeContainer > qr-resizerx > div {
  box-shadow: -1px 2px 2px rgb(0 0 0 / 20%);
}
.day #logo {
  color: hsl(var(--theme-color), 62%, 38%);
}
.day #logoIcon {
  color: hsl(var(--theme-color), 62%, 24%);
  background-color: hsl(var(--theme-color), 24%, 94%);
}
.day #logoIcon:hover {
  filter: none;
  background-color: hsl(var(--theme-color), 20%, 80%);
}
#preview {
  right: 8px;
}
#preview:before {
  content: "\f530";
}
#preview.on::before {
  content: "\f177";
}
#frameContainer {
  position: absolute;
  right: 0px;
  height: 100%;
  width: calc(100% - var(--area-width));
  padding-top: 24px;
  background-color: white;
}
#searchBar {
  position: absolute;
  top: 0px;
  height: 24px;
  width: 100%;
  background-color: hsl(var(--theme-color), 38%, 18%);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 20%);
  text-align: center;
  white-space: nowrap;
}
#searchBar > div {
  top: 2px;
  display: inline-block;
  width: calc(100% - 80px);
  min-width: 40px;
  position: relative;
}
#address {
  outline: none;
  border: none;
  height: 18px;
  border-radius: 3px;
  width: 100%;
  padding: 0px 20px;
  box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 20%);
  background-color: white;
  vertical-align: middle;
}
#lockIcon {
  display: inline-block;
  height: 17px;
  width: 17px;
  vertical-align: middle;
  line-height: 17px;
  color: hsl(0, 0%, 38%);
  position: absolute;
  font-family: dashicons;
  top: 2px;
  left: 2px;
}
#lockIcon::before {
  content: "\f528";
}
#lockIcon.locked:before {
  content: "\f315";
  color: hsl(330, 100%, 50%);
}
#openIcon {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  line-height: 16px;
  color: hsl(var(--theme-color), 100%, 62%);
  position: absolute;
  font-family: dashicons;
  top: 2.5px;
  right: 2px;
}
#openIcon:before {
  content: "\f504";
}
#frameWrapper {
  width: 100%;
  height: 100%;
}
#frameWrapper > iframe {
  height: 100%;
  width: 100%;
  border: none;
}
.day #searchBar {
  background-color: hsl(var(--theme-color), 24%, 94%);
}
